body {
    margin: 0;
}

#startPage {
    background-color: white;
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.gameName, .instruct {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}

.previewPiece {
    display: flex;
    height: 57px;
    width: 57px;
    position: relative;
    background-color: red;
    align-items: center;
}

.gameOptions {
    display: flex;
    flex-flow: column wrap;
}

/* #startButton {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
} */